<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title>Finder App</title>
  <link rel="icon" sizes="any" href="/favicon.ico">
  {{linkTags}}
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  {{prefetchTags}}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Average&display=swap" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" crossorigin>
  {{preloadTags}}
  {{styleTags}}
  {{assetsMap}}
  {{chunksMap}}
  {{moduleTags}}
  {{nomoduleTags}}
  <script>
    (function() {
      var root = document.documentElement;
      var storageData = JSON.parse(localStorage.getItem("FINDER_COLOR_SCHEME"));
      var storageScheme = storageData && typeof storageData.data === "string"
        ? storageData.data
        : "system";
      var storageDarkMode = storageScheme === "dark";
      var storageSystemMode = !storageScheme || storageScheme === "system";
      var systemDarkMode = matchMedia("(prefers-color-scheme: dark)").matches;
      if (storageDarkMode || (storageSystemMode && systemDarkMode)) {
        root.classList.add("dark");
        root.style.setProperty("color-scheme", "dark light");
      }
      else {
        root.classList.remove("dark");
        root.style.setProperty("color-scheme", "");
      }
    })();
  </script>
</head>
<body>
<div id="root"></div>
</body>
</html>
