<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title>Finder — Search the world</title>
  <meta name="title" content="Finder — Search the world">
  <meta name="description" content="With Finder you can search any country in the world, view its position on the map, photos, information, save to favorites!">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://finder-al4str.vercel.app/">
  <meta property="og:title" content="Finder — Search the world">
  <meta property="og:description" content="With Finder you can search any country in the world, view its position on the map, photos, information, save to favorites!">
  <meta property="og:image" content="https://i2.paste.pics/eb8d97a68ff12cbdce556e0587c5662d.png">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://finder-al4str.vercel.app/">
  <meta property="twitter:title" content="Finder — Search the world">
  <meta property="twitter:description" content="With Finder you can search any country in the world, view its position on the map, photos, information, save to favorites!">
  <meta property="twitter:image" content="https://i2.paste.pics/eb8d97a68ff12cbdce556e0587c5662d.png">
  <link rel="icon" sizes="any" href="/favicon.ico">
  {{linkTags}}
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  {{prefetchTags}}
  <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Average&display=swap" crossorigin onload="this.onload=null;this.as='';this.rel='stylesheet'">
  <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Interdisplay=swap" crossorigin onload="this.onload=null;this.as='';this.rel='stylesheet'">
  {{preloadTags}}
  {{styleTags}}
  {{assetsMap}}
  {{chunksMap}}
  {{nomoduleTags}}
  <script>
    (function() {
      if (/(iPhone|iPod|iPad)/i.test(navigator.userAgent)) {
        document.documentElement.classList.add("ios");
      }
    })();
  </script>
  <script>
    (function() {
      var root = document.documentElement;
      var storageData = JSON.parse(localStorage.getItem("FINDER_COLOR_SCHEME"));
      var storageScheme = storageData && typeof storageData.data === "string"
        ? storageData.data
        : "system";
      var storageDarkMode = storageScheme === "dark";
      var storageSystemMode = !storageScheme || storageScheme === "system";
      var systemDarkMode = matchMedia("(prefers-color-scheme: dark)").matches;
      if (storageDarkMode || (storageSystemMode && systemDarkMode)) {
        root.classList.add("dark");
        root.style.setProperty("color-scheme", "dark light");
      }
      else {
        root.classList.remove("dark");
        root.style.setProperty("color-scheme", "");
      }
    })();
  </script>
  <script id="loader">
    (function() {
      var timeout = 2500;
      var scripts = JSON.parse(`{{moduleItems}}`);
      var initialScript = document.getElementById("loader");
      scripts.forEach(function(tag, index) {
        const script = tag.attributes;
        var isMain = /\/main\./.test(script.src);
        var minimumRemainingTime = isMain
          ? 40
          : 15;
        var el = document.createElement("script");
        el.src = script.src;
        el.type = "module";
        el.onload = function() {
          if (initialScript) {
            initialScript.parentNode.removeChild(initialScript);
            initialScript = null;
          }
        };
        if ("requestIdleCallback" in window) {
          var deadlineTimestamp = Date.now() + timeout;
          window.requestIdleCallback(function run(deadline) {
            if (
              deadline.timeRemaining() > minimumRemainingTime
              || deadlineTimestamp < Date.now()
              || deadline.didTimeout
            ) {
              document.head.appendChild(el);
            } else {
              window.requestIdleCallback(run, { timeout });
            }
          }, { timeout });
        } else {
          setTimeout(function() {
            document.head.appendChild(el);
          }, index * 40)
        }
      });
    })();
  </script>
</head>
<body>
<div id="root"></div>
</body>
</html>
